* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 550px;
    line-height: 1.7;
    color: white;


}

header {
    height: 95vh;
    background-image:linear-gradient(to right , rgba(245, 18, 18, 0.671),rgb(155, 141, 141)) , url(../img/hero.jpg);
    background-size: cover;
    background-position-y: top;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: relative;
    .header-box{
      
         position: absolute;
         top: 40%;
         left: 50%;
         text-align: center;
         transform: translate(-50%, -50%);

    .main-header {
         font-size: 70px;
         
         .main-header-one {
             display: block;
             font-size: 30px;
            
         }
         .main-header-two {
             background: white;
             font-size: 30px;
             padding: 10px;
             border-radius: 20px;
             color: red;
         }
       
     
    } 
}

    .logo{
        position: relative;
        top: 20px;
        left: 40px;
        background: brown;
        padding: 0 10px;
        border-radius: 10px;
        display: inline-block;
    }
    
}  // end of header

   
