* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 550px;
    line-height: 1.7;
    color: white;


}

header {
    height: 95vh;
    background-image:linear-gradient(to right , rgba(245, 18, 18, 0.671),rgb(155, 141, 141)) , url(../img/hero.jpg);
    background-size: cover;
    background-position-y: top;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: relative;
    
    .main-header {
         text-align: center;
         margin-top: 20vh;
         .main-header-one {
             display: block;
         }
         .main-header-two {
             display: block;
         }
       
     
    } 

    .logo{
        position: relative;
        top: 20px;
        left: 40px;
        background: brown;
        padding: 0 10px;
        border-radius: 10px;
        display: inline-block;
    }
    
}  // end of header
